.header {
    background-color: powderblue;
    border: 2px solid black;
    padding: 8px;
    margin: 12px;
    margin-bottom: 8px;
}
h1 {
    color: blue;
}
p {
    color: red;
}
.message-input-parent {
    margin-right: 8px;
}
.message-input {
    width: 100%;
}
.submit-button {
    margin: 8px;
    background-color: lightcoral;
}
.message {
    background-color: lightcoral;
    border: 2px solid black;
    padding: 8px;
    margin: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
}
.message-area {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex: 0 0 0;
    overflow: auto;
    border: 2px solid blue
}
.message-header {
    display: grid;
    grid-template-columns: 5% 85% 10%
}
.message-index {
    border-right: 2px solid black;
}
.message-user {
    margin-left: 8px;
}
.message-timestamp {
    text-align: right;
    padding-left: 8px;
    margin-left: auto;
    border-left: 2px solid black;
}
.message-string {
    border-top: 2px solid black;
    white-space: pre-line;
}
.message-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    margin-right: 8px
}
.message-button:active {
    background-color: grey
}