.sidebar {
    background: burlywood
}
.section-buttons button {
    font-size: 20px;
    background: transparent;
    border: none;
}
.section-buttons button:hover {
    font-size: 20px;
    background-color: mediumpurple;
}